/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind utilities;
// @import "@coreui/coreui/scss/coreui";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,600;1,700&family=Lobster&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: "Libre Franklin", Roboto ,sans-serif; }
.success-snackbar {
  background: rgb(27, 116, 5) !important;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.warn-snackbar {
  background: #dd710b !important;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

.failed-snackbar {
  background: #f0382a !important;
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}
